/*

*/
/* 
    Created on : Oct 24, 2018, 1:41:57 PM
    Author     : Andrea
    https://www.w3schools.com/howto/howto_js_full_page_tabs.asp
*/

/* Set height of body and the document to 100% to enable "full page tabs" */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/*Style tab links */
.tablink{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/*Style tab links */
.tablink:hover{
    background-color: #777;
}

/*Style the tab content (and add height: 100% for full page content)*/
.tabcontent{
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

/*for the shipping tab - to see incoming and outgoing
 Why is it not side by side???*/
.column{
    float: left;
    width: 95%;
    padding: 10px;
}
/*Clear floats after the columns*/
.row:after{
    content: "";
    display: table;
    clear: both;
}

/*Responsive layout */
@media screen and (max-width:600px){
    .column{
        width: 50%;
    }
}

/*Style the buttons that are used to open and close the accordion panel*/
.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/*Add a background color to the button if it is clicked on
(add the .active class with JS), and when you move the mouse
over it (hover)*/

.active, .accordion:hover{
    background-color: #ccc;
}

/*Style the accordion panel. Note: hidden by default*/
.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

#Home {background-color: #0066ff;}
#Shipping {background-color: #009999;}
#Equipment {background-color: blue;}
#Personnel {background-color: #003399;}