/*
    color: #DBE5FF (white gray)
*/
/* 
    Created on : Oct 24, 2018, 1:41:57 PM
    Author     : Andrea
    https://www.w3schools.com
*/

/* Set height of body and the document to 100% to enable "full page tabs" */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

h2{
    height: 50%;
    margin: 10px;
    font-family: Arial;
    
}

/*.homebackgroundimage{
    background: url(tcms1.png) no-repeat center fixed;
    opacity: .7;
    filter: alpha(opacity=70);
}*/

/*Style tab links */
.tablink{
    background-color: #003399;
    color: #DBE5FF;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/*Style tab links */
.tablink:hover{
    background-color: #777;
}

/*Style the tab content (and add height: 100% for full page content)*/
.tabcontent{
    color: #030a0e;
    column-count: 1;
    display: none;
    padding: 100px 20px;
    height: 100%;
}



/*for the shipping tab - to see incoming and outgoing
 Why is it not side by side???*/
.column{
    float: left;
    width: 95%;
    padding: 10px;
}
/*Clear floats after the columns*/
.row:after{
    content: "";
    display: table;
    clear: both;
}

.table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #add;
}

.th,td{
    text-align: left;
    padding: 16px;
}

.tr:nth-child(even){
    background-color: #999999;
}

.tr:nth-child(odd){
    background-color: #8db3c4;
}


/*Responsive layout */
@media screen and (max-width:600px){
    .column{
        width: 50%;
    }
}

/*Style the buttons that are used to open and close the accordion panel*/
.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/*Add a background color to the button if it is clicked on
(add the .active class with JS), and when you move the mouse
over it (hover)*/

.active, .accordion:hover{
    background-color: #DBE5FF;
}

.accordion:after{
    content: '\02795'; /*Unicdoe character for "plus" sign (+)*/
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: "\2796"; /*Unicode character for "minus" sign(-)*/
}


/*Style the accordion panel. Note: hidden by default*/
.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/*Dropdown Report Button*/
.reportButton{
    background-color: #042844;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.dropdown{
    background-color: #8db3c4;
    position:absolute;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #8db3c4;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #0b7dda;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.reportButton:hover, .dropdown:hover .reportButton{
    background-color: #0b7dda;
}

.addShipmentButton{
    background-color: #042844;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.addShipmentButton:hover{
    background-color: #0b7dda;
}

.purchaseOrderButton{
    background-color: #042844;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.purchaseOrderButton:hover{
    background-color: #0b7dda;
}
#Home {background-color: #042844;}
#Shipping {background-color: #f6f6f6;}
#Equipment {background-color: #f6f6f6;}
#Personnel {background-color: #f6f6f6;}
