<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>truckingcompanymanagementsystem.DataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDataServlet</servlet-name>
        <servlet-class>truckingcompanymanagementsystem.DeleteDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDataServlet</servlet-name>
        <servlet-class>truckingcompanymanagementsystem.AddDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDataServlet</servlet-name>
        <servlet-class>truckingcompanymanagementsystem.UpdateDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/DataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDataServlet</servlet-name>
        <url-pattern>/DeleteDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDataServlet</servlet-name>
        <url-pattern>/AddDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDataServlet</servlet-name>
        <url-pattern>/UpdateDataServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
</web-app>
