/*
    color: #DBE5FF (white gray)
*/
/* 
    Created on : Oct 24, 2018, 1:41:57 PM
    Author     : Andrea
    References from: https://www.w3schools.com
*/

/* Set height of body and the document to 100% to enable "full page tabs" */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: whitesmoke;
}

h1{
    
    font-family: Arial;
    color: #091534;
    text-shadow: 1px 1px white;
    
}

h2{
    height: 50%;
    margin: 10px;
    font-family: Arial;
    color: white;
    text-shadow: 1px 1px #000000;
   
}

h3{
    color: #DBE5FF;
    text-shadow: 1px 1px #091534;
}

p{
    color: #DBE5FF;
    text-shadow: 1px 1px #091534;
}



/*.homebackgroundimage{
    background: url(tcms1.png) no-repeat center fixed;
    opacity: .7;
    filter: alpha(opacity=70);
}*/

/*Style tab links */
.tablink{
    background-color: rgba(113,126,153,0.85);
    color: white;
    text-shadow: 2px #091534;
    float: left;
    border: none;
    border-radius: 4px 4px 0px 0px;   
    outline-style:outset;
    outline-color: rgba(9,21,52,0.25);
    outline-width: 2px;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 25%;
    
}

/*Style tab links */
.tablink:hover{
    background-color: #006699;
}

/*Style the tab content (and add height: 100% for full page content)*/
.tabcontent{
    color: #000000;
    display: table;
    padding: 100px 20px;
    height: 100%;
    overflow: auto;
    animation: cubic-bezier;
}

.column{
    float: left;
    width: 95%;
    padding: 14px;
    outline-style: ridge;
    outline-color: rgba(9,21,52,0.5);
    outline-width: 3px;
}
/*Clear floats after the columns*/
.row:after{
    content: "";
    display: table;
    clear: both;
}

.table{
    border: 1px solid #091534;
    border-width: 1px;
    display: table; 
    max-width: 100%;
    word-spacing: 2px;
    word-wrap: normal;
    padding: 20px;
    border-top: #091534;
    border-style: groove;
    page: auto;
}


.th{
    text-align: left;
    height: 25px;
    padding: 20px;
    border: 1px #091534;
}

.tr{
    text-align: left;
    height: 5px;
    vertical-align: central;
    padding: 20px;
    border-bottom: 1px solid #091534;
}

.tr:nth-child(even){
    background-color: rgba(0,102,153,0.2);
}

.tr:nth-child(even):hover{
    background-color: rgba(0,102,153,0.8);
    color: white;
}

.tr:nth-child(odd){
    background-color: rgba(0,102,153,0.4);
}

.tr:nth-child(odd):hover{
    background-color: rgba(0,102,153,0.8);
    color: white;
}


/*Responsive layout */
@media screen and (max-width:600px){
    .column{
        width: 80%;
    }
}

/*Style the buttons that are used to open and close the accordion panel*/
.accordion{
    background-color: #eee;
    font-size: 17px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline-style: outset;
    outline-color: rgba(9,21,52,0.1);
    outline-width: 2px;
    border-radius: 5px 5px 5px 5px;
    transition: 0.4s;
}

/*Add a background color to the button if it is clicked on
(add the .active class with JS), and when you move the mouse
over it (hover)*/

.active, .accordion:hover{
    background-color: #006699;
    color: white;
}

.accordion:after{
    content: '\02795'; /*Unicdoe character for "plus" sign (+)*/
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: "\2796"; /*Unicode character for "minus" sign(-)*/
}


/*Style the accordion panel. Note: hidden by default*/
.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: scroll;
}

/*________________Overlay Attempted Stuff__________BEGIN____________*/

.contanier{
    position: relative;
    width: 50%;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}

.textOverlay{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}

#overlay{
    
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transition: .5s ease;
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/*________________Overlay Attempted Stuff________END______________*/


/*________________Buttons_______________________*/
.button{
    color: rgba(9,21,52,0.98);
    border-radius: 2px 2px 5px 5px;
}

.button:hover{
    background-color: #006699;
    color: white;
}

/*________________Dropdown Report Button_______________________*/
.reportButton{
    background-color: #091534;
    color: white;
    padding: 16px;
    font-size: 16px;
    outline: none;
}

.dropdown{
    background-color: #8db3c4;
    position:absolute;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #8db3c4;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #006699;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.reportButton:hover, .dropdown:hover .reportButton{
    background-color: #006699;
}

.addShipmentButton{
    background-color: #091534;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.addShipmentButton:hover{
    background-color: #006699;
}

.purchaseOrderButton{
    background-color: #091534;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.purchaseOrderButton:hover{
    background-color: #006699;
}

.manifestButton{
    background-color: #091534;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.manifestButton:hover{
    background-color: #006699;
}




#Home {background-image: linear-gradient(to top, rgba(0,102,153,0.75), rgba(9,21,52,0.98));}
#Shipping {background-image: linear-gradient(to top, rgba(0,102,153,0.75), rgba(9,21,52,0.98));}
#Equipment {background-image: linear-gradient(to top, rgba(0,102,153,0.75), rgba(9,21,52,0.98));}
#Personnel {background-image: linear-gradient(to top, rgba(0,102,153,0.75), rgba(9,21,52,0.98));}
#Maintenance {background-image: linear-gradient(to top, rgba(0,102,153,0.75), rgba(9,21,52,0.98));}
#Navigate {background-image: linear-gradient(to top, rgba(0,102,153,0.75), rgba(9,21,52,0.98));}
#Safety {background-image: linear-gradient(to top, rgba(0,102,153,0.75), rgba(9,21,52,0.98));}